<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Responsive design</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/96ef80b7ce.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="JS/caroufredsel.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <a href="" class="logo"><img src=""></a>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/team">Our Team</a></li>
                        <li><a href="/contacts">Contact Us</a></li>
                        <li><a href="/careers">Careers</a></li>
                    </ul>

                </nav>
            </div>
    </header>
    <section class="slider">
        <ul class="slider-carousel" id="slider-carousel">
            <li class="img1">
                <h2>Zec Power Technologies <span>UNLIMITED</span></h2>
                <p>We believe in creativity always</p>
                <i class="fas fa-atom-alt"></i>
                <i class="fa fa-charging-station"></i>
                <i class="fa fa-broadcast-tower"></i>
                <p><br> Welcome to Zec Power Technology LLC. We are a family owned Business that is located in Boise, Idaho. <br>We are specialized in making electric batteries and solar systems our electric batteries are used in many different EV cars.<br>                    We believe in clean energy and electric vehicles are here to stay.
                </p><br>
                </p><br>
                <a href="/products" class="btn btn-half">Products</a>
                <a href="/services" class="btn btn-full">Services</a>
            </li>

            <li class="img2">
                <h2>Zec Power Technologies <span>UNLIMITED</span></h2>
                <p>We believe in creativity always</p>
                <i class="fas fa-atom-alt"></i>
                <i class="fa fa-charging-station"></i>
                <i class="fa fa-broadcast-tower"></i>
                <p><br> Welcome to Zec Power Technology LLC. We are a family owned Business that is located in Boise, Idaho. <br>We are specialized in making electric batteries and solar systems our electric batteries are used in many different EV cars.<br>                    We believe in clean energy and electric vehicles are here to stay.
                </p><br>
                <a href="/products" class="btn btn-half">Products</a>
                <a href="/services" class="btn btn-full">Services</a>
            </li>

            <li class="img3">
                <h2>Zec Power Technologies <span>UNLIMITED</span></h2>
                <p>We believe in creativity always</p>
                <i class="fas fa-atom-alt"></i>
                <i class="fa fa-charging-station"></i>
                <i class="fa fa-broadcast-tower"></i>
                <p><br> Welcome to Zec Power Technology LLC. We are a family owned Business that is located in Boise, Idaho. <br>We are specialized in making electric batteries and solar systems our electric batteries are used in many different EV cars.<br>                    We believe in clean energy and electric vehicles are here to stay.
                </p><br>
                <a href="/products" class="btn btn-half">Products</a>
                <a href="/services" class="btn btn-full">Services</a>
            </li>

        </ul>
    </section>

    <section class="intro-area white" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2> IDAHO LEADING TECH COMPANY</h2>
                    <div class="sub-heading">
                        <p>
                            We are Idaho number one leading tech company; we have won awards for three years in a row as Idaho best start up Tech company.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">

                    <div class="intro-block">
                        <span class="intro-icon"><i class="fa fa-paint-brush"></i></span>
                        <h3>UNIQUE DESIGNS</h3>
                        <p>
                            Our batteries are unique and stay charged longer. We are in the process of increasing power duration in our pleminum batteries.
                        </p>
                    </div>

                </div>
                <div class="col-sm-4">

                    <div class="intro-block">
                        <span class="intro-icon"><i class="fa fa-angellist"></i></span>
                        <h3>CORPORATE BRANDING</h3>
                        <p>
                            We continue to build our company and product to stay competitve both at home and abroad. Our batteries are now being used around the world by different car making companies.
                        </p>
                    </div>

                </div>
                <div class="col-sm-4">

                    <div class="intro-block">
                        <span class="intro-icon"><i class="fa fa-certificate"></i></span>
                        <h3>AWARDS</h3>
                        <p>
                            We have won 3 different JP Awards for best design cars and batteries that runs smooth and last longer.
                        </p>
                    </div>

                </div>
            </div>


        </div>

    </section>
    <section class="feature-area" id="feature">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="title">
                        <h2> OUR FUTURE</h2>
                        <div class="sub-heading">
                            <p>
                                We in the process of increasing its electric vehicle model lineup. To date, We hav made three battery electric cars. The We have five more vehicles still in production.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-8 text-center">
                    <div class="feature-block">
                        <div class="single-feature feature-circle">
                            <div class="circle"></div>
                            <span class=feature-icon><i class="fa fa-exchange"></i></span>
                            <h3>FASTER SERVICE</h3>
                            <p>

                            </p>

                        </div>
                        <div class="single-feature feature-circle">
                            <div class="circle"></div>
                            <span class=feature-icon><i class="fa fa-star-half-o"></i></span>
                            <h3>CLEAN ENERGY</h3>
                            <p>

                            </p>

                        </div>
                        <div class="single-feature feature-circle">
                            <div class="circle"></div>
                            <span class=feature-icon><i class="fa fa-arrows-alt"></i></span>
                            <h3>LONG LASTING TECH</h3>
                            <p>

                            </p>

                        </div>
                        <div class="single-feature feature-circle">
                            <div class="circle"></div>
                            <span class=feature-icon><i class="fa fa-cog"></i></span>
                            <h3>ENOVATIVE TECH</h3>
                            <p>

                            </p>

                        </div>

                    </div>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <div class="feature-mockup">
                        <img src="images/ipad.png">

                    </div>
                </div>
            </div>

    </section>
    <section class="testimonials" id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>AWESOME EMPLOYEES</h2>
                    <div class="sub-heading">
                        <p>

                        </p>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="carousel-testimonials" data-slide-to="0" class="active"></li>
                            <li data-target="carousel-testimonials" data-slide-to="1"></li>
                            <li data-target="carousel-testimonials" data-slide-to="2"></li>

                        </ol>


                        <div class="carousel-inner">
                            <div class="item active text-center">
                                <img src="images/kylie.jpg" class="center-block">
                                <h2>Kylie Johnson</h2>
                                <h4>Sr Engineer</h4>
                                <p>
                                    Best company to work for, this company oparets well and they put the interest of their customers first.
                                </p>

                            </div>
                            <div class="item text-center">
                                <img src="images/kylie.jpg" class="center-block">
                                <h2>Kylie Johnson</h2>
                                <h4>Sr Engineer</h4>
                                <p>
                                    Best company to work for, this company oparets well and they put the interest of their customers first.
                                </p>

                            </div>
                            <div class="item text-center">
                                <img src="images/kylie.jpg" class="center-block">
                                <h2>Kylie Johnson</h2>
                                <h4>Sr Engineer</h4>
                                <p>
                                    Best company to work for, this company oparets well and they put the interest of their customers first.
                                </p>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>





    <script src="js/main.js" type="text/javascript"></script>
</body>

</html>