<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Responsive design</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/96ef80b7ce.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="JS/caroufredsel.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header class="careers">
        <div class="container">
            <div class="row">
                <a href="" class="logo"><img src=""></a>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contacts">Contact Us</a></li>
                        <li><a href="/careers">Careers</a></li>
                    </ul>

                </nav>
            </div>
    </header>
    <section class="team-area" id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Our Team</h2>
                    <div class="sub-heading">
                        <p>
                            Now after the death of Moses the servant of the LORD it came to pass,<br>that the LORD spake unto Joshua the son of Nun, Moses'
                        </p>

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-3">
                    <div class="team-block">
                        <div class="team-man">
                            <img src="../../images/Zec.jpeg" alt="CFO">
                        </div>
                        <div class="team-description">
                            <div class="team-title">
                                <h3>Isaac Mpoyi</h3>
                                <span>Chief Executive Officer</span>
                            </div>
                            <p>
                                The founder and CEO of Zec Power Technologies LLC.
                            </p>
                            <div class="team-social-network">
                                <a href="https://www.facebook.com/isaac.mpoyi"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/hopempoyi/"><i class="fa fa-instagram"></i></a>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team-block">
                        <div class="team-man">
                            <img src="../../images/abby.jpg" alt="CFO">
                        </div>
                        <div class="team-description">
                            <div class="team-title">
                                <h3>Abigail Mpoyi</h3>
                                <span>Chief Executive Officer</span>
                            </div>
                            <p>
                                CFO of Zec Power Technologies, Joined the team in April of 2019.
                            </p>
                            <div class="team-social-network">
                                <a href="https://www.facebook.com/sarah.mpoyi"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/gigimbuyi18/"><i class="fa fa-instagram"></i></a>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team-block">
                        <div class="team-man">
                            <img src="../../images/Jr.jpg" alt="CFO">
                        </div>
                        <div class="team-description">
                            <div class="team-title">
                                <h3>John Mpoyi</h3>
                                <span>Senior Project Engineer</span>
                            </div>
                            <p>
                                Senior Engineer at Zec Power Technologies, joined the team in October of 2019.
                            </p>
                            <div class="team-social-network">
                                <a href="https://www.facebook.com/acacia.mutombo"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/acaciamutombo/"><i class="fa fa-instagram"></i></a>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team-block">
                        <div class="team-man">
                            <img src="../../images/Aser.jpg" alt="CFO">
                        </div>
                        <div class="team-description">
                            <div class="team-title">
                                <h3>Aser Mpoyi</h3>
                                <span>Senior Design Manager</span>
                            </div>
                            <p>
                                Brings to the team unmatched experience in technology engineering and design.
                                <div class="team-social-network">
                                    <a href="https://www.facebook.com/anna.mpoyo"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/mpoyister27/"><i class="fa fa-instagram"></i></a>

                                </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</body>

</html>